@font-face {
    font-family: 'BMitra';
    src: url(./fonts/BMitra.eot);
    src: url(./fonts/BMitra.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BMitra.woff) format('woff'),
         url(./fonts/BMitra.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMitraBold';
    src: url(./fonts/BMitraBold.eot);
    src: url(./fonts/BMitraBold.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BMitraBold.woff) format('woff'),
         url(./fonts/BMitraBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BRoya';
    src: url(./fonts/BRoya.eot);
    src: url(./fonts/BRoya.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BRoya.woff) format('woff'),
         url(./fonts/BRoya.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BTabassom';
    src: url(./fonts/BTabassom.eot);
    src: url(./fonts/BTabassom.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BTabassom.woff) format('woff'),
         url(./fonts/BTabassom.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BTitr';
    src: url(./fonts/BTitr.eot);
    src: url(./fonts/BTitr.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BTitr.woff) format('woff'),
         url(./fonts/BTitr.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BTitrTGE';
    src: url(./fonts/BTitrTGE.eot);
    
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Yekan';
    src: url(./fonts/Yekan.eot?-wwn5ej);
    src: url(./fonts/Yekan.eot?#iefix-wwn5ej) format('embedded-opentype'),
     url(./fonts/Yekan.woff?-wwn5ej) format('woff'),
      url(./fonts/Yekan.ttf?-wwn5ej) format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range:U+0600-06FF;
}


@font-face {
    font-family: 'BTraffic';
    src: url(./fonts/BTraffic.eot);
    src: url(./fonts/BTraffic.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BTraffic.woff) format('woff'),
         url(./fonts/BTraffic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


 @font-face {
    font-family: 'BNasim';
    src: url(./fonts/BNasim.eot);
    src: url(./fonts/BNasim.eot?#iefix) format('embedded-opentype'),
         url(./fonts/BNasim.woff) format('woff'),
         url(./fonts/BNasim.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswaldbold';
    src: url('./fonts/Oswald-Bold.eot');
    src: url('./fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Oswald-Bold.woff2') format('woff2'),
        url('./fonts/Oswald-Bold.woff') format('woff'),
        url('./fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OswaldStencil';
    src: url('./fonts/OswaldStencil-Bold.eot');
    src: url('./fonts/OswaldStencil-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/OswaldStencil-Bold.woff2') format('woff2'),
        url('./fonts/OswaldStencil-Bold.woff') format('woff'),
        url('./fonts/OswaldStencil-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswaldlight';
    src: url('./fonts/Oswald-Light.eot');
    src: url('./fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Oswald-Light.woff2') format('woff2'),
        url('./fonts/Oswald-Light.woff') format('woff'),
        url('./fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:  'Yekan';
    src: url('./fonts/Oswald.eot');
    src: url('./fonts/Oswald.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Oswald.woff2') format('woff2'),
        url('./fonts/Oswald.woff') format('woff'),
        url('./fonts/Oswald.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F; 
}