.loadingMinHeight{
    min-height: 75vh;
}
.LoadingCenterClass{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.LoadingText{
    color:rgba(108, 117, 125, 0.871);

}
